@import './app.scss';

.button {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    display: inline-block;
    &:hover {
        background: white;
        color: black;
    }
}

.navbar-shell {
    position: fixed;
    width: 100%;
    background: rgba(173, 216, 230, 0.8);
    z-index: 100;
    @include vertAndHortCentered(flex);
    .school-logo {
        display: inline-block;
        width: 5%;
        height: 5vw;
        margin: 20px;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/University_of_Ottawa%2C_Coat_of_Arms.png/595px-University_of_Ottawa%2C_Coat_of_Arms.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .navbar-subshell {
        display: inline-block;
        width: 80%;
        .nav-top {
            height: calc(5vw + 20px);
            padding-top: 10px;
            padding-bottom: 10px;
            .school-name {
                position: absolute;
                color: white;
                font-size: 30px;
                font-weight: 100;
            }
            .user-name {
                position: absolute;
                color: white;
                font-size: 20px;
                font-weight: 100;
                padding-top: 35px;
                padding-left: 30px;
            }
            .nav-top-side {
                float: right;
                .login-button {
                    display: inline-block;
                }
                .search-bar {
                    display: inline-block;
                    border: 1px solid white;
                    border-radius: 10px;
                    padding: 5px;
                    background: transparent;
                    &::placeholder {
                        color: white;
                    }
                    &:focus {
                        background: white;
                        &::placeholder {
                            color: black;
                        }
                    }
                }
            }
        }
        .nav-buttons {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            .nav-dropdown {
                display: inline-block;
                color: white;
                border: 1px solid white;
                padding: 3px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}